*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.bg--main {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 2px 2px 3px 4px #ccc;
  z-index: 3; }
  .bg--main__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 500px; }

.bg--mid {
  display: hidden;
  height: 20rem;
  width: 20rem;
  align-self: center;
  position: absolute;
  box-shadow: 2px 2px 3px 4px #ccc;
  border-radius: 500px;
  z-index: 2; }
  .bg--mid__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 500px; }

.bg--end {
  display: hidden;
  object-fit: cover;
  height: 20rem;
  width: 20rem;
  align-self: center;
  position: absolute;
  box-shadow: 2px 2px 3px 4px #ccc;
  border-radius: 500px;
  z-index: 1; }
  .bg--end__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 500px; }

.navbar {
  height: 8rem;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: absolute;
  top: 0;
  opacity: 0; }
  .navbar__list {
    display: flex;
    list-style: none; }
  .navbar__items {
    color: var(--color-primary);
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    margin: 1rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px; }

:root {
  --color-primary: #030b32; }
