*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}



.container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg{

    &--main {
            width: 100%;
            height: 100%;
            position: relative;
            box-shadow: 2px 2px 3px 4px #ccc;
            z-index: 3;
    
            
            &__img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 500px;
            }
        
    }
    
    &--mid {
        display: hidden;
        height: 20rem;
        width: 20rem;
        align-self: center;
        position: absolute;
        box-shadow: 2px 2px 3px 4px #ccc;
        border-radius: 500px;
        z-index: 2;
 

        &__img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 500px;
        }

    }

    &--end {
        display: hidden;
        object-fit: cover;
        height: 20rem;
        width: 20rem;
        align-self: center;
        position: absolute;
        box-shadow: 2px 2px 3px 4px #ccc;
        border-radius: 500px;
        z-index: 1;
  

        &__img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 500px;
        }
    }

    
}



