.navbar {
    /*
    height: 8rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 0;
    
    &__list {
        display: flex;
      
    }

    &__items {
        color: rgb(197, 197, 197); 
        font-size: 3rem;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 1.5rem;
        margin: 1rem;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 3px;


    }*/
}
